body {
    background: black;
}

h1,
h2 {
    color: white;
}

h2 {

    flex-direction: row;

}

body {
    margin: 0;
}

.container {
    position: relative;
    max-width: 100%;
    /* Set the maximum width of your container */
    margin: 0 auto;
    /* Center the container */
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.button {
    position: absolute;
    background-color: #3498db00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


.button1 {
    top: 53%;
    left: 40%;
    padding: 1% 12%;
}

.button2 {
    top: 77.5%;
    left: 44.7%;
    padding: 4.5% 4.8%;
    clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
}

.button3 {
    top: 26%;
    left: 39%;
    padding: 7% 1%;
}

.button4 {
    top: 26%;
    left: 44%;
    padding: 7% 1%;
}

.button5 {
    top: 26%;
    left: 49%;
    padding: 7% 1%;

}

.button6 {
    top: 26%;
    left: 54%;
    padding: 7% 1%;
}

.button7 {
    top: 26%;
    left: 59%;
    padding: 7% 1%;
}


.button8 {
    top: 10%;
    left: 47.5%;

    font-size: 3rem;


}

.button:hover {
    background-color: #f6ff0095;
    color: rgb(255, 255, 255);
}